{{ define "main" }}
<main>
	<div class="post">
		{{ partial "single/post-info.html" . }}
		{{ partial "single/title.html" . }}

		{{ partial "single/header.html" . }}

		{{ .Content }}

        <div class="fb-like"
            data-href="{{ .Permalink }}"
            data-width="" data-layout="standard"
            data-action="like" data-size="small"
            data-share="true">
        </div>

		{{ partial "single/footer.html" . }}
	</div>

  {{- if .Site.Params.WebsitiCommentsId }}
  <link rel="stylesheet" href="https://websiticomments.s3.eu-central-1.amazonaws.com/public/assets/style/index.css">
  <div id="app" data-appid="{{ .Site.Params.WebsitiCommentsId }}"></div>
  <script defer="" src="https://websiticomments.s3.eu-central-1.amazonaws.com/public/bundle.js"></script>
  {{- end }}

  <div class="pagination">
		<a href="#" class="top">Top</a>
	</div>
</main>

{{ end }}
